/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
*{
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;*/
	/*---------------------------------------------*/
	display: -webkit-box;
    display: -webkit-flex; 
	/*display: -moz-box;
	display: -ms-flexbox;*/
    display: flex;
	
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column; 
	/*-moz-box-direction: normal;
	-ms-flex-direction: row;*/
	flex-direction: column;
	
	/*-webkit-justify-content: center;
	justify-content: center;
	
	-webkit-align-items: center;
	align-items: center;*/

	background-color: white;
	font-family: Open Sans;
	/*---------------------------------------------*/
    /*font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
    font-size:16px;
    height: max-height;
	position: absolute;
	min-height: 100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
	/*-webkit-box-shadow:inset 0px 0px 0px 2px red;
	box-shadow:inset 0px 0px 0px 2px red;*/
	
	/*Police texte par défaut*/
	font-family: Open Sans;



}
/*---------------------------------------------*/
/* Portrait layout (default) */

/* .app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    /*position:absolute;             /* position in the center of the screen */
    /*left:50%;
    top:50%;
    height:50px;                   /* text area height */
    /*width:225px;                   /* text area width */
    /*text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    /*margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
/*} */
/*---------------------------------------------*/

/* Landscape layout (with min-width) */
/*
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        /*margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
   /* }
}
*/
/*
h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
*/
/*
.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
*/

/*
#conteneur
{
    display: -webkit-box;
    display: -webkit-flex; 
    display: flex;
	-webkit-box-direction: row;
	-webkit-flex-direction: row; 
	flex-direction: row;
	border: 2px solid blue;
}

.element
{
	border: 2px solid black;
}
*/

/* Délimitation du "bloc" de la page*/
#bloc_page
{
	width: 100%;
	height: window.innerHeight;
	margin: 0 0;
	min-height: 100%;
	/*-webkit-box-shadow:inset 0px 0px 0px 2px green;
	box-shadow:inset 0px 0px 0px 2px green;*/
	

}

header
{
	display: -webkit-box;
    display: -webkit-flex; 
	/*display: -moz-box;
	display: -ms-flexbox;*/
    display: flex;
	
	
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row; 
	/*-moz-box-direction: normal;
	-ms-flex-direction: row;*/
	flex-direction: row;

	
	/*-webkit-box-text-align: justify; /*alignement selon premier axe*/ 
	/*-webkit-align-content: stretch; /*alignement selon premier axe*/
	/*-moz-box-pack: space-between;
	-ms-flex-pack: space-between;*/
	/*justify-content: space-between;*/ /*alignement selon premier axe*/
	
	/*On centre les éléments verticalement*/
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-align: center;
	

	
	position: absolute;
	top: 0;
	height: 10%; 
	width: 98%; /* width = 100% - padding-left */
	margin: 0 0;
	padding-left: 2%; /* Marge intérieure*/
	
	/*-webkit-box-shadow:inset 0px 0px 0px 2px black;
	box-shadow:inset 0px 0px 0px 2px black;*/
	
	/*background-color: #112330;*/
	/*Image de fond --> bien vérifier que la longueur est suffisante, sinon rajouter un rectangle en + derrière?*/
	background: url('../img/EnTete2.png') no-repeat top left;
	/*background-size: auto 100%;*/
	background-size: cover;
	color: black;
}
/*
header img{
	width: auto;
	height: 100%;
	overflow: hidden;
	-webkit-box-shadow:inset 0px 0px 0px 1px blue;
	box-shadow:inset 0px 0px 0px 1px blue;
}
*/
.titre
{
	display: -webkit-box;
    display: -webkit-flex; 
	/*display: -moz-box;
	display: -ms-flexbox;*/
    display: flex;
	
	
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row; 
	/*-moz-box-direction: normal;
	-ms-flex-direction: row;*/
	flex-direction: row;
	
	/*On centre les éléments verticalement*/
	-webkit-align-items: end;
	align-items: end;
	-webkit-box-align: end;

	height: 60%;
	width: 50%;
	/*On aligne verticalement les textes entre eux http://www.alsacreations.com/astuce/lire/4-alignement-vertical-image-texte.html */
	line-height: 100%;
	vertical-align: bottom;
	/*-webkit-box-shadow:inset 0px 0px 0px 1px yellow;
	box-shadow:inset 0px 0px 0px 1px yellow;*/
}

.Safe
{
	display: -webkit-box;
    display: -webkit-flex; 
	/*display: -moz-box;
	display: -ms-flexbox;*/
    display: flex;
	
	
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row; 
	/*-moz-box-direction: normal;
	-ms-flex-direction: row;*/
	flex-direction: row;
	
	/*On centre les éléments verticalement*/
	-webkit-align-items: end;
	align-items: end;
	-webkit-box-align: end;
	line-height: 85%; /* Pour avoir "SAFE-T" et "Monitor" sur la même ligne, garder cette ligne */
	
	font-family: Open Sans;
	font-weight: bold;
	font-size: 150%;
	color: white;
}

.Monitor
{
	display: -webkit-box;
    display: -webkit-flex; 
	/*display: -moz-box;
	display: -ms-flexbox;*/
    display: flex;
	
	
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row; 
	/*-moz-box-direction: normal;
	-ms-flex-direction: row;*/
	flex-direction: row;
	
	/*On centre les éléments verticalement*/
	-webkit-align-items: end;
	align-items: end;
	-webkit-box-align: end;
	line-height: 100%;  /* Pour avoir "SAFE-T" et "Monitor" sur la même ligne, garder cette ligne */
	
	font-family: Open Sans;
	font-weight: bold;
	font-size: 60%;
	color: #0088bc;
	vertical-align: bottom;
}

footer
{
	display: -webkit-box;
    display: -webkit-flex; 
	/*display: -moz-box;
	display: -ms-flexbox;*/
    display: flex;
	
	-webkit-box-direction: normal;
	-webkit-flex-direction: row; 
	/*-moz-box-direction: normal;
	-ms-flex-direction: row;*/
	flex-direction: row;
	
	position: absolute; /*fixed?*/
	bottom: 0;
	height: 6.8%; 
	width: 96%; /* width = 100% - padding-left - padding-right */
	margin: 0 0;
	padding-left: 2%;
	padding-right: 2%;
	
	/*On centre les éléments verticalement*/
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-align: center;
	/*Alignement vertical entre texte et image: http://www.alsacreations.com/astuce/lire/4-alignement-vertical-image-texte.html */
	vertical-align: center;
	/*On centre les éléments horizontalement - space-between*/
	box-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	
	/*-webkit-box-shadow:inset 0px 0px 0px 1px black;
	box-shadow:inset 0px 0px 0px 1px black;*/
	background-color: #112330;
	
	/*Police*/
	color: white;
	font-size: 75%;
	font-style: normal;
}

section
{
	display: -webkit-box;
    display: -webkit-flex; 
	/*display: -moz-box;
	display: -ms-flexbox;*/
    display: flex;
	
	/* ON DIVISE LA SECTION EN DEUX VERTICALEMENT*/
	-webkit-box-orient: vertical ;
	-webkit-flex-direction: column; 
	/*-webkit-flex-orient: normal;*/
	/*-moz-box-direction: normal;
	-ms-flex-direction: row;*/
	flex-direction: column;
	
	/*On centre les éléments horizontalement*/
	-webkit-align-items: center;
	align-items: center;

	
	position: absolute;
	/*bottom: 6.8%;*/
	top: 10%;
	/*top: 13.96%;*/
	/*margin-left: 4.95%;
	margin-right: 4.95%;*/
	/*margin-top: 3.71%;*/
	height: 83.11%;
	width: 100%;
	/*width: 90.36%;*/
	/*max-width: 1388px;*/
	margin:0;
	
	/*-webkit-box-shadow:inset 0px 0px 0px 5px yellow;
	box-shadow:inset 0px 0px 0px 5px yellow;*/
	
}

#sectionBloc /* Nécessaire pour le javascript, sinon comment obtenir la vraie largeur de la section? */
{
	display: -webkit-box;
    display: -webkit-flex; 
	/*display: -moz-box;
	display: -ms-flexbox;*/
    display: flex;
	
	/* ON DIVISE LA SECTION EN DEUX VERTICALEMENT*/
	-webkit-box-orient: vertical ;
	-webkit-flex-direction: column; 
	/*-webkit-flex-orient: normal;*/
	/*-moz-box-direction: normal;
	-ms-flex-direction: row;*/
	flex-direction: column;
	
	
	/*On centre les éléments horizontalement*/
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-align: center;
	
	/*On centre les éléments verticalement*/
	box-pack: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	
	width: 100%;
	height: 100%;
	
	/*-webkit-box-shadow:inset 0px 0px 0px 2px red;
	box-shadow:inset 0px 0px 0px 2px red;*/


}

#innerBloc
{
	display: -webkit-box;
    display: -webkit-flex; 
	/*display: -moz-box;
	display: -ms-flexbox;*/
    display: flex;
	
	/* ON DIVISE LA SECTION EN DEUX VERTICALEMENT*/
	-webkit-box-orient: vertical ;
	-webkit-flex-direction: column; 
	/*-webkit-flex-orient: normal;*/
	/*-moz-box-direction: normal;
	-ms-flex-direction: row;*/
	flex-direction: column;
	
	
	/*On centre les éléments horizontalement*/
	-webkit-align-items: center;
	align-items: center;
	/*On centre les éléments verticalement*/
	box-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;

	/*width: 100%;
	height: 100%;*/
	top: 2.5%;
	height: 95%;
	width: 95%;
	
	/*-webkit-box-shadow:inset 0px 0px 0px 2px red;
	box-shadow:inset 0px 0px 0px 2px red;*/


}

#topHalf /* On rajoute topHalf pour que l'ensemble des #tuiles soit bien centré */
{
	display: -webkit-box;
    display: -webkit-flex; 
	/*display: -moz-box;
	display: -ms-flexbox;*/
    display: flex;
	
	/* ON DIVISE LA SECTION EN DEUX VERTICALEMENT*/
	-webkit-box-orient: vertical ;
	-webkit-flex-direction: column; 
	/*-webkit-flex-orient: normal;*/
	/*-moz-box-direction: normal;
	-ms-flex-direction: row;*/
	flex-direction: column;
	
	
	/*On centre les éléments horizontalement*/
	-webkit-align-items: center;
	align-items: center;
	/*On centre les éléments verticalement*/
	box-pack: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center; /* Encore mieux serait d'utiliser space-around, mais pas d'équivalent avec webkit-box-pack */
	justify-content: center;

	/*width: 100%;
	height: 100%;*/
	/*top: 2.5%;*/
	height: 55%;
	width: 100%;
	
	/*-webkit-box-shadow:inset 0px 0px 0px 2px blue;
	box-shadow:inset 0px 0px 0px 2px blue;*/

}

#tuiles
{
	display: -webkit-box;
    display: -webkit-flex; 
	/*display: -moz-box;
	display: -ms-flexbox;*/
    display: flex;
	
	/* ON "WRAP" LES ELEMENTS FLEX SUR PLUSIEURS LIGNES ==> cf. http://www.sketchingwithcss.com/samplechapter/cheatsheet.html */
	-webkit-box-orient: vertical ;
	-webkit-flex-direction: column; 
	/*-webkit-flex-orient: normal;*/
	/*-moz-box-direction: normal;
	-ms-flex-direction: row;*/
	flex-direction: column;	

	/*-webkit-flex-wrap: wrap;
	-webkit-box-wrap: wrap;
	flex-wrap: wrap;*/
	-webkit-align-items: center;
	align-items: center; 
	
	/*Espacement entre les tuiles*/
	box-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between; 
	
	position: relative;
	/*top: 0;*/
	height: 100%; 	/*height: 55%; vieille hauteur sans .topHalf */
	/*width: 100%;*/ 
	/*margin: 30px;*/
	background: white;
	/*-webkit-box-shadow:inset 0px 0px 0px 2px red;
	box-shadow:inset 0px 0px 0px 2px red;*/
	
}
#premieresTuiles
{
	display: -webkit-box;
    display: -webkit-flex; 
	/*display: -moz-box;
	display: -ms-flexbox;*/
    display: flex;
	
	/* ON "WRAP" LES ELEMENTS FLEX SUR PLUSIEURS LIGNES ==> cf. http://www.sketchingwithcss.com/samplechapter/cheatsheet.html */
	-webkit-box-orient: horizontal ;
	-webkit-flex-direction: row; 
	/*-webkit-flex-orient: normal;*/
	/*-moz-box-direction: normal;
	-ms-flex-direction: row;*/
	flex-direction: row;	
	
	/*-webkit-flex-wrap: wrap;
	flex-wrap: wrap;*/
	
	/* On laisse de l'espace entre les carrés seulement:*/
	-webkit-align-content: space-between;
	align-content: space-between;
	
	/* centrage des tuiles*/
	-webkit-align-items: center;
	align-items: center; 
	
	/*Espacement entre les tuiles*/
	box-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between; 

	
	position: relative;
	/*top: 0;*/
	height: 49%; /* Pour laisser un espacement vertical*/
	width: 100%;
	/*width: 100%;*/ 
	/*margin: 30px;*/
	background: white;
	/*-webkit-box-shadow:inset 0px 0px 0px 2px green;
	box-shadow:inset 0px 0px 0px 2px green;*/
	
}

#deuxiemesTuiles
{
	display: -webkit-box;
    display: -webkit-flex; 
	/*display: -moz-box;
	display: -ms-flexbox;*/
    display: flex;
	
	/* ON "WRAP" LES ELEMENTS FLEX SUR PLUSIEURS LIGNES ==> cf. http://www.sketchingwithcss.com/samplechapter/cheatsheet.html */
	-webkit-box-orient: horizontal ;
	-webkit-flex-direction: row; 
	/*-webkit-flex-orient: normal;*/
	/*-moz-box-direction: normal;
	-ms-flex-direction: row;*/
	flex-direction: row;	
	
	/*-webkit-flex-wrap: wrap;
	flex-wrap: wrap;*/
	
	/* On laisse de l'espace entre les carrés seulement:*/
	-webkit-align-content: space-between;
	align-content: space-between;
	
	/* centrage des tuiles*/
	/*-webkit-align-items: center;
	align-items: center; */
	
	/*Espacement entre les tuiles*/
	box-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between; 


	
	position: relative;
	/*top: 0;*/
	height: 49%; /* Pour laisser un espacement vertical */
	width: 100%;
	/*margin: 30px;*/
	background: white;
	/*-webkit-box-shadow:inset 0px 0px 0px 2px green;
	box-shadow:inset 0px 0px 0px 2px green;*/
	
}

.carre
{
	display: -webkit-box;
    display: -webkit-flex; 
	/*display: -moz-box;
	display: -ms-flexbox;*/
    display: flex;
	
	position: relative;
	height: 100%;
	/*width: 25vh;*/
		
	background-color: #e5e5e6;
	
	/*Carrés légèrement arrondis */
	/*border-radius: 3%;*/
	color: #888888;
	
	/*-webkit-box-shadow:inset 0px 0px 0px 1px blue;
	box-shadow:inset 0px 0px 0px 1px blue;*/
	
	-webkit-box-orient: vertical ;
	-webkit-flex-direction: column; 
	/*-webkit-flex-orient: normal;*/
	/*-moz-box-direction: normal;
	-ms-flex-direction: row;*/
	flex-direction: column;	
	
	
	/* centrage des sous-parties - horizontalement*/
	-webkit-box-align: center; /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-pack */
	-webkit-align-items: center;
	align-items: center; 
	/*On centre les éléments verticalement*/
	box-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;	
}

.topCarre
{
	display: -webkit-box;
    display: -webkit-flex; 
	/*display: -moz-box;
	display: -ms-flexbox;*/
    display: flex;
	
	-webkit-box-orient: horizontal ;
	-webkit-flex-direction: row; 
	/*-webkit-flex-orient: normal;*/
	/*-moz-box-direction: normal;
	-ms-flex-direction: row;*/
	flex-direction: row;	
	
	position: relative;
	/*height: 80%;
	width: 100%;*/
	height: 33%;
	width: 90%;
	padding-top: 37.5%;
	
	/*-webkit-box-shadow:inset 0px 0px 0px 2px red;
	box-shadow:inset 0px 0px 0px 2px red; */
	
	/* Position du texte dans topCarre */

	/*On centre les éléments horizontalement*/
	box-pack: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	/*Et horizontalement*/	
	/*-webkit-box-align: start;*/ /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-pack */
	/*-webkit-align-items: center;
	align-items: center; */
	
	/*Police texte*/
	color: #888888;
	/*font-size: 69.87 pt;*/
	/*font-size: 5.822 em;
	font-weight: bold;
	font-family: Open Sans;*/
	font-family: Open Sans;
	font-weight: bold;
	font-size: 110%;
	
}

.flyingTime /* Cadre dans topCarre pour s'assurer que les chiffres et "hrs" et "min" sont bien alignés verticalement*/
{
	display: -webkit-box;
    display: -webkit-flex; 
	/*display: -moz-box;
	display: -ms-flexbox;*/
    display: flex;
	
	
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row; 
	/*-moz-box-direction: normal;
	-ms-flex-direction: row;*/
	flex-direction: row;
	

	/*On centre les éléments horizontalement*/
	box-pack: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	
	/*On centre les éléments verticalement*/
	-webkit-align-items: flex-end;
	align-items: flex-end;
	-webkit-box-align: end;

	height: 50%;
	width: 90%;
	/*On aligne verticalement les textes entre eux http://www.alsacreations.com/astuce/lire/4-alignement-vertical-image-texte.html */
	/*line-height: 100%;*/
	vertical-align: text-bottom;
	/*-webkit-box-shadow:inset 0px 0px 0px 1px yellow;
	box-shadow:inset 0px 0px 0px 1px yellow;*/
}

.soustitre
{
	display: -webkit-box;
    display: -webkit-flex; 
	/*display: -moz-box;
	display: -ms-flexbox;*/
    display: flex;
	
	position: relative;
	bottom: 0;
	height: 17.5%;
	width: 100%;
		
	background-color: #e5e5e6;
	color: #888888;
	
	/*-webkit-box-shadow:inset 0px 0px 0px 2px yellow;
	box-shadow:inset 0px 0px 0px 2px yellow;*/
	
	-webkit-box-orient: horizontal ;
	-webkit-flex-direction: row; 
	/*-webkit-flex-orient: normal;*/
	/*-moz-box-direction: normal;
	-ms-flex-direction: row;*/
	flex-direction: row;	
	
	
	/* centrage des sous-parties - horizontalement*/
	-webkit-align-items: center;
	align-items: center; 
	/*On centre les éléments verticalement*/
	box-pack: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	
	/*Police texte */
	font-family: Open Sans;
	font-style: normal;
	font-size: 75%;
	/*font-size: 2 %;*/
	
	/*Emplacement*/
	padding-bottom: 4%;
}

#dynamicWidth
{
	height: 100%;
	background-color: #e5e5e6;
	color: #888888;
	/*-webkit-box-shadow:inset 0px 0px 0px 1px blue;
	box-shadow:inset 0px 0px 0px 1px blue;*/
}

#notifications
{
	display: -webkit-box;
    display: -webkit-flex; 
	/*display: -moz-box;
	display: -ms-flexbox;*/
    display: flex;
	
	/* ON "WRAP" LES ELEMENTS FLEX SUR PLUSIEURS LIGNES ==> cf. http://www.sketchingwithcss.com/samplechapter/cheatsheet.html */
	-webkit-box-orient: vertical ;
	-webkit-flex-direction: column; 
	/*-webkit-flex-orient: normal;*/
	/*-moz-box-direction: normal;
	-ms-flex-direction: row;*/
	flex-direction: column;	

	/*-webkit-flex-wrap: wrap;
	-webkit-box-wrap: wrap;
	flex-wrap: wrap;*/
	-webkit-align-items: flex-start;
	align-items: flex-start; 
	
	/*On centre les éléments verticalement*/
	box-pack: end;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	
	
	position: relative;
	/*top: 0;*/
	height: 43%; /* Un peu de marge entre tuiles et partie Notifications*//*43 car on prend une hauteur de 45% et on soustrait un padding-top de 2%*/
	padding-top: 2%;
	/*width: 100%;*/
	
	
	/*width: 100%;*/ 
	/*margin: 30px;*/
	background: white;
	/*webkit-box-shadow:inset 0px 0px 0px 2px red;
	box-shadow:inset 0px 0px 0px 2px red;*/
	
	/*Police */
	font-family: Open Sans;
	font-style: normal;
	font-size: 80%;
	color: #888888;
	/*font-size: 2 %;*/
	
	
}

#notifRectangle
{
	display: -webkit-box;
    display: -webkit-flex; 
	/*display: -moz-box;
	display: -ms-flexbox;*/
    display: flex;
	
	-webkit-box-orient: vertical ;
	-webkit-flex-direction: column; 
	/*-webkit-flex-orient: normal;*/
	/*-moz-box-direction: normal;
	-ms-flex-direction: row;*/
	flex-direction: column;	

	/*-webkit-flex-wrap: wrap;
	-webkit-box-wrap: wrap;
	flex-wrap: wrap;*/
	-webkit-align-items: flex-start;
	align-items: flex-start; 
	
	/*On centre les éléments verticalement*/
	box-pack: start;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	
	
	position: relative;
	/*top: 0;*/
	/*height: 80%;*/ /* Un peu de marge entre tuiles et partie Notifications*/
	/*width: 96%;*/
	width: 93.5%; /* width = 100 - paddings - margin-top*/
	margin-top: 0.5%; /* Mettre un espacement entre "NOTIFICATIONS" et le rectangle de notifications*/
	/*top: 2%;*/
	/*width: 100%;*/ 
	/*margin: 30px;*/
	background: #f2f9fc; /*blue*/
	-webkit-box-shadow:inset 0px 0px 0px 0.3em #f3f4f4; /*bordure grise*/
	box-shadow:inset 0px 0px 0px 0.3em #f3f4f4;
	
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 4%;
	padding-bottom: 2%;
	/*padding: 2%;*/
	
	/*Police*/
	font-weight: bold;
	color: #112330; /* couleur du texte quand il n'y a pas de pb, sinon à mettre en rouge avec JS */
}

#TotalTime
{
	display: -webkit-box;
    display: -webkit-flex; 
	/*display: -moz-box;
	display: -ms-flexbox;*/
    display: flex;
	
	-webkit-box-orient: horizontal ;
	-webkit-flex-direction: row; 
	/*-webkit-flex-orient: normal;*/
	/*-moz-box-direction: normal;
	-ms-flex-direction: row;*/
	flex-direction: row;
	
	font-family: Open Sans;
		
}

footer img /* Réduction de la taille du logo */
{
	width: auto;
	height: 52%;
	/*-webkit-box-shadow:inset 0px 0px 0px 1px blue;
	box-shadow:inset 0px 0px 0px 1px blue;*/
}

/* Format des titres */
p{
	font-family: Open Sans;
	
}
/*strong{
	font-weight: bold;
}*/

h1 /*Police pour titre "SAFE-T"*/
{
	font-family: Open Sans;
	font-weight: bold;
	font-size: 140%;
	color: white;
}
h2 /*Police pour "Monitor" */
{
	font-family: Open Sans;
	font-weight: bold;
	font-size: 80%;
	color: #0088bc;
}
h4 /* Pour l'info dans les topCarres */
{
	font-family: Open Sans;
	font-weight: bold;
	font-size: 140%;
	/*font-size: 2 %;*/
}
h5 /* Pour "hrs" et "min" */
{
	font-family: Open Sans;
	font-weight: bold;
	font-size: 40%;
	/*font-size: 2 %;*/
}



	/*Mettre les bonnes marges pour les éléments carrés => http://stackoverflow.com/questions/7676951/how-to-put-spacing-between-floating-divs */
/*.demiSection div:first-child, .demiSection div:nth-child(3n+1)
{
	
}
*/
